.infoBusinessContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.infoBusinessContainerFirst {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.detailsContainerFirst,
.detailsContainerSecond {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  font-size: 0.85rem;
  font-weight: 500;
  color: #7c7878;
}

.chip {
  padding: 0.5rem;
  width: 50%;
  border-radius: 1.875rem;
  background-color: #e5ddfb;
  color: $primary-color;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
}

.name {
  font-size: 1.2rem;
  font-weight: 800;
  color: $secondary-color;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.contactPerson {
  color: $primary-color;
}

@media only screen and (min-width: 768px) {
  .infoBusinessContainer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  .infoBusinessContainerFirst {
    align-items: center;
    gap: 2rem;
  }

  .infoBusinessContainerSecond {
    text-align: right;
  }

  .detailsContainerFirst,
  .detailsContainerSecond {
    font-size: 1.1rem;
    gap: 1.2rem;
  }

  .detailsContainerSecond {
    align-items: end;
  }

  .name {
    font-size: 2rem;
  }
}
