.card {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: rgba(86, 20, 208, 0.25) 5px 5px 15px;
  }
}

.image {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.chip {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 1.875rem;
  background-color: #e5ddfb;
  color: $primary-color;
  font-weight: 500;
  font-size: 0.9rem;
  width: 6rem;
  text-align: center;
}

.name {
  margin-top: 0.5rem;
}

.contactPerson {
  margin-top: 1rem;
  color: $primary-color;
}

.address {
  margin: 1rem 0;
  color: #a8a8a8;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .name {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .contactPerson {
    font-size: 1.1rem;
  }
}
