.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  gap: 0.5rem;
  background-color: var(--category-card-color);
  border: 0.125rem solid var(--button-border);
  border-radius: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;

  .name {
    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--text-color);
  }

  &:hover,
  &.active {
    border-color: var(--primary-color-hover);

    .name {
      color: var(--primary-color);
    }
  }
}

@media only screen and (min-width: 768px) {
  .card {
    width: 10rem;
    height: 5rem;
    margin-bottom: 1rem;
    padding: 3.5rem 5rem;

    .name {
      font-size: 1.2rem;
    }
  }
}
