.userSection,
.authButtons {
  display: none;
}

@media only screen and (min-width: 920px) {
  .userSection {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .authButtons {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
}
