$primary-color: #8056eb;
$secondary-color: #000000;
$tertiary-color: #ffffff;

@mixin card-style {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 1rem;
  display: flex;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: rgba(86, 20, 208, 0.25) 5px 5px 15px;
  }
}

@mixin modal-container {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  animation: open-modal 0.3s forwards ease-out;
}

@keyframes open-modal {
  0% {
    transform: translate(100%);
    background-color: #00000017;
  }

  100% {
    background-color: #000000c3;
  }
}

@mixin flex-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin label-style {
  color: #333;
  font-weight: 600;
}

@mixin input-container-style {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@mixin input-style {
  color: $secondary-color;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.625rem 1rem;
  border: 0.125rem solid #67abc2;
  border-radius: 0.375rem;
  &:focus {
    outline: none;
    border-color: #9147ff;
  }
}

@mixin error-message {
  color: #ff0000;
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 0.8rem;
}
