.container {
  line-height: 1.6;
  padding: 0 1rem;
}

.title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.section {
  margin-bottom: 1.5rem;
}

.paragraph {
  color: var(--text-color);
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
}

.subheading {
  color: var(--primary-color);
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

.requisite {
  margin: 0.8rem 0;
}

.list {
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.link {
  color: #007bff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.formLink {
  color: var(--primary-color);
  font-style: italic;
  font-weight: 600;
}

.address {
  color: #007bff;
}

.map {
  width: 100%;
  height: 15rem;
  border: none;
  margin-top: 0.5rem;
}

.buttonContainer {
  text-align: center;
}

.expanded {
  transition: all 0.3s ease-in-out;
}

.boldText {
  font-weight: 700;
}

.registerBusinessContainer {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.4rem;
  }

  .paragraph,
  .list {
    font-size: 1.15rem;
  }

  .subheading {
    font-size: 1.3rem;
  }
}
