.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #f2eefd;
  border: 0.125rem solid #e6e6e6;
  border-radius: 1rem;
  cursor: pointer;

  .name {
    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: 500;
  }

  &:hover,
  &.active {
    background-color: #f2eefd;
    border-color: #beaaf5;

    .name {
      color: $primary-color;
    }
  }
}

@media only screen and (min-width: 768px) {
  .card {
    flex-wrap: nowrap;
    padding: 0.5rem 2.5rem;
    width: 10rem;
    height: 7rem;
  }

  .name {
    font-size: 1.2rem;
  }
}
