.searchContainer {
  margin: 0.5rem auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 2rem;
}

.categoryContainer {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .searchContainer {
    margin: 0 auto 3rem auto;
  }

  .container {
    flex-direction: row;
  }
  .categories {
    width: 30%;
  }
}
