.button {
  padding: 0.8rem;
  background-color: $primary-color;
  color: $tertiary-color;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: #5b24e7;
  }
}

.large {
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.small {
  padding: 0.5rem;
  max-width: 6rem;
}

.favorite {
  background-color: $tertiary-color;
  color: $secondary-color;

  &:hover {
    background-color: #e7245f;
  }
}

.cancel {
  background-color: #ff0000;
  &:hover {
    background-color: #d00d0d;
  }
}

.language {
  font-weight: 700;
  color: $secondary-color;
  background-color: $tertiary-color;
  padding: 0.25rem;
  &:focus {
    color: #e7245f;
    border-bottom: 1px solid #e7245f;
  }
  &:hover {
    color: #e7245f;
    background-color: $tertiary-color;
  }
}

@media only screen and (min-width: 768px) {
  .button {
    font-size: 0.9rem;
    padding: 0.75rem 1.25rem;
  }

  .small {
    padding: 0.5rem 1rem;
  }
}
