.button {
  @include button-style;

  &.large {
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }

  &.small {
    padding: 0.5rem;
    max-width: 7rem;
  }

  &.favorite {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border: 1px solid var(--button-border);

    &:hover {
      background-color: var(--favorite-hover);
      color: var(--tertiary-color);
    }
  }

  &.cancel {
    background-color: var(--error-color);

    &:hover {
      background-color: var(--error-hover);
    }
  }
  &.update {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
  }

  &.language {
    font-weight: 700;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    padding: 0.25rem;
    border: none;
    border-bottom: 1px solid transparent;

    &:focus {
      color: var(--language-focus-and-hover);
      border-bottom-color: var(--language-focus-and-hover);
    }

    &:hover {
      color: var(--language-focus-and-hover);
      background-color: var(--tertiary-color);
    }
  }
}

@media only screen and (min-width: 410px) {
  .button {
    font-size: 0.9rem;
    padding: 0.75rem 1.25rem;

    &.small {
      font-size: 0.75rem;
      padding: 0.5rem 1rem;
    }

    &.language {
      padding: 0.5rem;
    }
  }
}
