.hero {
  text-align: center;
}

.title {
  font-size: 2rem;
  line-height: 2.5rem;
}

.primary {
  color: $primary-color;
}

.subtitle {
  color: #a8a8a8;
  line-height: 1.5rem;
  padding: 1rem;
}

.searchContainer {
  display: flex;
  margin: 0.5rem auto;
  gap: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 2rem;
  }

  .title {
    font-size: 3.5rem;
    line-height: 5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .searchContainer {
    margin: 2rem auto;
    width: 30%;
    gap: 1rem;
  }
}
