.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.label {
  @include label-style;
}

.input {
  min-width: 100%;
  @include input-style;
}

.error {
  @include error-message;
}
