.searchContainer {
  display: flex;
  margin: 0.5rem auto;
  gap: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.categoryContainer {
  width: 70%;
}

.businessList {
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 768px) {
  .searchContainer {
    margin: 2rem auto;
    width: 30%;
    gap: 1rem;
  }

  .container {
    flex-direction: row;
  }
  .categories {
    width: 30%;
  }

  .businessList {
    grid-template-columns: repeat(3, 1fr);
  }
}
