.icon {
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 2rem;
  height: 2rem;
}

@media only screen and (min-width: 768px) {
  .icon {
    width: 3rem;
    height: 3rem;
  }
}
