.cardContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #e7dfdf;
  border-radius: 1rem;
  padding: 0.8rem;
  width: 100%;
}

.image {
  width: 40%;
  height: 11rem;
  object-fit: cover;
  border-radius: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.businessName {
  font-weight: 800;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  color: $primary-color;
}

.contactPerson {
  color: $primary-color;
}

.address,
.service {
  color: #958f8f;
}

.dateAndTime {
  color: $secondary-color;
  font-weight: 500;
  margin-left: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .cardContainer {
    width: 49.3%;
  }

  .businessName {
    font-size: 1.2rem;
  }
}
