.cardContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--button-border);
  padding: 0.8rem;
  width: 100%;
  transition: border-color 0.3s ease;
  @include card-style;

  &:hover {
    border-color: var(--primary-color);
  }
}

.image {
  width: 40%;
  height: 11rem;
  object-fit: cover;
  border-radius: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 60%;
}

.serviceName {
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--text-color);
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.85rem;
}

.icon,
.contactPerson {
  color: var(--primary-color);
}

.address,
.service {
  color: var(--text-color);
  opacity: 0.7;
}

.dateAndTime {
  color: var(--secondary-color);
  font-weight: 500;
  margin-left: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .cardContainer {
    width: 49.3%;
  }

  .serviceName {
    font-size: 1.2rem;
  }

  .info {
    font-size: 1rem;
  }
}
