.title {
  font-size: 1.3rem;
  font-weight: 800;
}

.subtitle {
  font-weight: 700;
}

.calendar {
  width: 16rem;
}

.timeContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.time {
  background-color: var(--input-bg);
  border: 1px solid var(--button-border);
  border-radius: 1.25rem;
  padding: 0.8rem 0;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--shadow-color);
  }

  &:focus {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
  }
}

.buttonContainer {
  margin: 1rem 0;
}

.button {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 0.5rem;
}

@media only screen and (min-width: 500px) {
  .calendar {
    width: 100%;
  }
}

@media only screen and (min-width: 1270px) {
  .container {
    display: flex;
  }

  .infoContainer {
    margin-right: 10rem;
  }

  .button {
    justify-content: center;
    width: 100%;
  }
}
