.topbar {
  position: fixed;
  top: 0;
  left: 0;
  @include flex-style;
  gap: 2rem;
  padding: 1.25rem 1.5rem;
  border-bottom: 0.125rem solid var(--button-border);
  width: 100%;
  background-color: var(--tertiary-color);
  z-index: 100;
}

.logo {
  @include flex-align-center;
  flex-shrink: 0;

  svg {
    display: block;
    width: auto;
    height: 2.75rem;
  }
}

@media only screen and (min-width: 920px) {
  .topbar {
    padding: 1.25rem 6.5rem;
  }

  .logo svg {
    height: 3.2rem;
  }
}
