.pageContent {
  padding: 2rem;
}

.businessTitle {
  margin: 2rem 0 1rem;
}

@media only screen and (min-width: 768px) {
  .pageContent {
    padding: 2rem 6rem;
  }

  .businessTitle {
    margin-top: 3rem;
  }
}
