.infoServiceContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.infoServiceContainerFirst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--primary-color);
  box-shadow: 0 2px 6px var(--shadow-hover);
}

.detailsContainerFirst,
.detailsContainerSecond {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  font-size: 85%;
  font-weight: 500;
  color: var(--text-color);
  opacity: 0.8;
}

.chip {
  padding: 0.5rem;
  width: 50%;
  border-radius: 1.875rem;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  opacity: 0.9;
  transition: all 0.3s ease;

  &:hover {
    opacity: 1;
    transform: translateY(-1px);
  }
}

.name {
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--secondary-color);
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.contactPerson {
  color: var(--primary-color);
}

@media only screen and (min-width: 820px) {
  .infoServiceContainer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  .infoServiceContainerFirst {
    align-items: center;
    gap: 2rem;
  }

  .infoServiceContainerSecond {
    text-align: right;
  }

  .avatar {
    width: 10rem;
    height: 10rem;
    border-width: 4px;
  }

  .detailsContainerFirst,
  .detailsContainerSecond {
    font-size: 1.1rem;
    gap: 1.2rem;
  }

  .detailsContainerSecond {
    align-items: end;
  }

  .name {
    font-size: 2rem;
  }
}
