.card {
  flex-direction: column;
  @include card-style;
}

.image {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
  height: 100%;
}

.chip {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 1.875rem;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  font-weight: 500;
  font-size: 0.9rem;
  width: 7rem;
  text-align: center;
  opacity: 0.9;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

.name {
  margin-top: 0.5rem;
  color: var(--text-color);
}

.contactPerson {
  margin-top: 1rem;
  color: var(--primary-color);
}

.address {
  margin: 1rem 0;
  color: var(--text-color);
  opacity: 0.7;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media only screen and (min-width: 768px) {
  .name {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .contactPerson {
    font-size: 1.1rem;
  }
}
