.title {
  margin-top: 1.5rem;
  color: var(--text-color);
}

.similarContainer {
  display: flex;
  flex-direction: column;
}

.similarBusiness {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.5rem;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  background-color: var(--card-bg);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px var(--shadow-color);
  }
}

.businessImg {
  width: 10rem;
  height: 6rem;
  border-radius: 10%;
  object-fit: cover;
  border: 1px solid var(--button-border);
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  font-size: 0.85rem;
  color: var(--text-color);
  opacity: 0.8;
}

.similarName {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.contactPerson {
  color: var(--primary-color);
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .detailsContainer {
    font-size: 1rem;
  }
}
