.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 0.125rem solid #f1f1f1;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.rightSide {
  display: none;
}

.navigationMobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navigation {
  display: none;
}

.link {
  color: #323232;
  font-size: 1.2rem;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .topbar {
    padding: 2rem 4rem;
  }

  .menu {
    display: none;
  }

  .navigation {
    display: flex;
    gap: 1.5rem;
  }

  .rightSide {
    display: flex;
  }
}
