.rootContainer,
.authContainer {
  padding: 2rem;
  padding-top: 8rem;
  min-height: 100vh;
}

.authContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: (--tertiary-color);
}

.loadingBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

@media only screen and (min-width: 768px) {
  .rootContainer {
    padding: 6rem;
    padding-top: 8rem;
  }
}
