.rootContainer,
.authContainer {
  padding: 2rem;
  padding-top: 8rem;
  min-height: 100vh;
}

.authContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f8fe;
}

@media only screen and (min-width: 768px) {
  .rootContainer {
    padding: 6rem;
    padding-top: 8rem;
  }
}
