.topbar {
  position: fixed;
  @include flex-style;
  gap: 2rem;
  padding: 1.5rem;
  border-bottom: 0.125rem solid var(--button-border);
  width: 100%;
  background-color: var(--tertiary-color);
  z-index: 1;
}

.headerLeftSide {
  @include flex-style;
  flex-direction: column;
}

.navigationMobileContainer {
  @include modal-container;
  top: 5.8rem;
  left: 0;
}

.navigationMobileContent {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 75%;
  height: 100%;
  padding: 4rem 2rem;
  transform: translateX(0);
  background-color: var(--tertiary-color);
}

.navigationLargeContainer {
  display: none;
}

.navLink,
.accountLink {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 500;

  &:hover {
    color: var(--primary-color);
    text-decoration: none;
  }
}

.menu {
  cursor: pointer;
}

.navLine {
  margin: 1.5rem 0;
}

.avatarMobile,
.buttonMobile {
  position: absolute;
  top: 48%;
  left: 57%;
  z-index: 2;
}

.buttonMobile {
  left: 40%;
}

.accountModalContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 0.9rem;
  padding: 1.4rem;
  border-radius: 0.5rem;
  list-style: none;
  box-shadow: var(--shadow-color) 2px 2px 2px 2px;
  background-color: var(--card-bg);
}

.myAccountLink {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-color);
  padding: 0.35rem 0;
  border-bottom: 0.125rem solid var(--button-border);

  &:hover {
    color: var(--primary-color);
    text-decoration: none;
  }
}

@media only screen and (min-width: 390px) {
  .avatarMobile,
  .buttonMobile {
    top: 38%;
  }

  .buttonMobile {
    left: 44.5%;
  }
}

@media only screen and (min-width: 500px) {
  .avatarMobile,
  .buttonMobile {
    top: 50%;
  }
}

@media only screen and (min-width: 920px) {
  .topbar {
    padding: 1.5rem 6.5rem;
  }

  .navLink {
    margin-right: 1.5rem;
    padding-bottom: 2.1rem;
    font-size: 1.2rem;

    &:focus {
      color: var(--primary-color);
      border-bottom: 3px solid var(--primary-color);
    }
  }

  .navLine {
    display: none;
  }

  .menu,
  .navigationMobileContainer {
    display: none;
  }

  .navigationLargeContainer {
    @include flex-style;
    width: 100%;
  }
}
