.topbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: 0.125rem solid #f1f1f1;
  width: 100%;
  background-color: $tertiary-color;
  z-index: 1;
}

.firstContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigationMobileContainer {
  @include modal-container;
  top: 5.8rem;
  left: 0;
}
.navigationMobileContent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 75%;
  height: 100%;
  padding: 4rem 2rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(0);
  background-color: white;
}

.navigationLargeContainer {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.link {
  color: #323232;
  font-size: 1.2rem;
  font-weight: 500;

  &:hover {
    color: $primary-color;
    text-decoration: none;
  }
}

.menu {
  cursor: pointer;
}

.navLine {
  margin: 1.5rem 0;
}

.userMenuMobileContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown {
  position: absolute;
  top: 69%;
  left: 37%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.9rem;
  background-color: $tertiary-color;
  padding: 1rem;
  border-radius: 0.5rem;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px 2px;
}

.account {
  font-weight: 600;
  padding: 0.5rem 0;
  border-bottom: 0.125rem solid #f1f1f1;
}

@media only screen and (min-width: 768px) {
  .topbar {
    padding: 1.5rem 2rem;
  }

  .link {
    margin-right: 1.5rem;
    padding-bottom: 2.1rem;

    &:focus {
      color: $primary-color;
      border-bottom: 3px solid $primary-color;
    }
  }

  .navLine {
    display: none;
  }

  .dropdown {
    top: 10%;
    left: 90%;
    font-size: 1rem;
    padding: 1.5rem;
  }

  .menu,
  .navigationMobileContainer {
    display: none;
  }

  .navigationLargeContainer {
    display: flex;
  }
}
