.nav {
  display: none;
}

@media only screen and (min-width: 920px) {
  .nav {
    @include flex-align-center;
    gap: 2rem;
    flex: 1;
  }

  .navLink {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
    white-space: nowrap;
    transition: color 0.2s ease;

    &:hover,
    &:focus {
      color: var(--nav-hover-color);
      text-decoration: none;
    }
  }
}
